# Ignore all obj and bin folders
/BraketsEditor/obj/
/BraketsEditor/bin/
/MonoGame.ImGuiNet/obj/
/MonoGame.ImGuiNet/bin/

# Ignore user-specific files
*.user
*.suo

# Ignore temporary files
*.tmp
*.log
